@media (max-width: 768px) {
  body {
    margin-top: 0;
  }
  body .container {
    height: auto;
  }
  body .container .header .header__section {
    justify-content: flex-start;
    margin-left: 60px;
  }
  body .container .features {
    padding-left: 0;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
  }
  body .container .features .features--wrapper {
    width: 100%;
  }
  body .container .features .features--wrapper .features--content1 {
    background: none;
  }
  body .container .features .features--wrapper .features--content2 {
    background: none;
  }
  body .container .features .features--wrapper .features--content3 {
    background: none;
  }
  body .container .features .features--wrapper .features--content4 {
    background: none;
  }
  body .container .nav--closed {
    height: 460px;
  }
  body .container .nav--open {
    height: 460px;
  }
  body .container .diagram {
    flex-direction: column;
    height: auto;
    align-items: center;
    width: 768px;
    padding-left: 0;
    display: block;
  }
  body .container .diagram .diagram__stats {
    width: 700px;
    height: auto;
  }
  body .container .diagram .diagram__active {
    background-color: #2a2a2a;
    margin: auto;
  }
  body .container .diagram .diagram__map {
    margin: auto;
  }
  body .container .tables {
    flex-direction: column;
    height: auto;
    padding-left: 0;
  }
}
@media (max-width: 414px) {
  body {
    margin-top: 0;
  }
  body .container {
    height: auto;
  }
  body .container .header .header__section {
    justify-content: flex-start;
    margin-left: 60px;
  }
  body .container .header .header__section .header__section--lang {
    width: 35px;
  }
  body .container .header .header__section .header__section--user {
    width: 250px;
  }
  body .container .nav--closed {
    height: 460px;
    width: 35px;
  }
  body .container .nav--closed .nav__blocks {
    width: 20px;
  }
  body .container .nav--closed .nav__modalIcon {
    left: 35px;
  }
  body .container .nav--open {
    height: 460px;
  }
  body .container .diagram {
    width: 100%;
    padding-left: 0;
  }
  body .container .diagram .diagram__stats {
    width: 100%;
  }
  body .container .diagram .diagram__active {
    background-color: #2a2a2a;
  }
  body .container .dashboard {
    display: none;
  }
  body .container .features {
    height: auto;
    flex-direction: column;
    padding-left: 0;
  }
  body .container .features .features--wrapper {
    width: 100%;
  }
  body .container .info {
    padding-left: 0;
    justify-content: flex-start;
  }
  body .container .info .info__text {
    width: 140px;
    font-size: 12px;
    padding-left: 5px;
  }
  body .container .tables {
    width: 100%;
  }
  body .container .tables .table {
    height: auto;
  }
}
@media (max-width: 375px) {
  body {
    margin-top: 0;
  }
  body .container {
    height: auto;
  }
  body .container .header .header__section {
    justify-content: flex-start;
    margin-left: 60px;
  }
  body .container .header .header__section .header__section--lang {
    width: 35px;
  }
  body .container .header .header__section .header__section--user {
    width: 250px;
  }
  body .container .nav--closed {
    height: 460px;
    width: 35px;
  }
  body .container .nav--closed .nav__blocks {
    width: 20px;
  }
  body .container .nav--closed .nav__modalIcon {
    left: 35px;
  }
  body .container .nav--open {
    height: 460px;
  }
  body .container .diagram {
    width: 100%;
    padding-left: 0;
  }
  body .container .diagram .diagram__stats {
    width: 100%;
  }
  body .container .diagram .diagram__active {
    background-color: #2a2a2a;
  }
  body .container .dashboard {
    display: none;
  }
  body .container .features {
    height: auto;
    flex-direction: column;
    padding-left: 0;
  }
  body .container .features .features--wrapper {
    width: 100%;
  }
  body .container .info {
    padding-left: 0;
    justify-content: flex-start;
  }
  body .container .info .info__text {
    width: 102px;
    font-size: 12px;
    padding: 0;
  }
  body .container .tables {
    width: 350px;
  }
  body .container .tables .table {
    height: auto;
  }
}/*# sourceMappingURL=responsive.css.map */