/* FONTS */
@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Bold.eot");
  src: url("../fonts/Metric-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metric-Bold.woff2") format("woff2"), url("../fonts/Metric-Bold.woff") format("woff"), url("../fonts/Metric-Bold.svg#Metric-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Light.eot");
  src: url("../fonts/Metric-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Metric-Light.woff2") format("woff2"), url("../fonts/Metric-Light.woff") format("woff"), url("../fonts/Metric-Light.svg#Metric-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Medium.eot");
  src: url("../fonts/Metric-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Metric-Medium.woff2") format("woff2"), url("../fonts/Metric-Medium.woff") format("woff"), url("../fonts/Metric-Medium.svg#Metric-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-SemiBold.eot");
  src: url("../fonts/Metric-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metric-SemiBold.woff2") format("woff2"), url("../fonts/Metric-SemiBold.woff") format("woff"), url("../fonts/Metric-SemiBold.svg#Metric-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metric";
  src: url("../fonts/Metric-Regular.eot");
  src: url("../fonts/Metric-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Metric-Regular.woff2") format("woff2"), url("../fonts/Metric-Regular.woff") format("woff"), url("../fonts/Metric-Regular.svg#Metric-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* /FONTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 100px auto;
  background-color: #ccc;
  /* /CONTAINER */
}
body .container {
  max-width: 980px;
  width: 100%;
  max-height: 810px;
  height: auto;
  background-color: #fff;
  display: block;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  /* HEADER */
  /* /HEADER */
  /* NAVIGATION ICON */
  /* /NAVIGATION ICON */
  /* NAVIGATION */
  /* NAV OPEN */
  /* /NAV OPEN */
  /* NAV CLOSED */
  /* /NAV CLOSED */
  /* /NAVIGATION */
  /* FEATURES */
  /* FEATURES */
  /* SECTION DIAGRAM */
  /* /SECTION DIAGRAM */
  /* SECTION INFO */
  /* /SECTION INFO */
  /* SECTION TABLES */
  /* /SECTION TABLES */
}
body .container .header {
  /* HEADER SECTION */
  /* /HEADER SECTION */
}
body .container .header .header__section {
  height: 55px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}
body .container .header .header__section .header__section--lang {
  width: 75px;
  border-left: 1px solid #e1e1e1;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
body .container .header .header__section .header__section--lang .header__section--select {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #212121;
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  transition: 0.2s;
  background-color: #fff;
}
body .container .header .header__section .header__section--lang .header__section--select:-ms-expand {
  display: none;
}
body .container .header .header__section .header__section--lang .header__section--select:hover {
  opacity: 0.5;
}
body .container .header .header__section .header__section--user {
  width: 300px;
  border-left: 1px solid #e1e1e1;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.2s;
}
body .container .header .header__section .header__section--user img {
  border-radius: 10px;
}
body .container .header .header__section .header__section--user .header__section--wrapper__name {
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  color: #636363;
}
body .container .header .header__section .header__section--user .header__section--wrapper__login {
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  color: #989898;
}
body .container .header .header__section .header__section--user i {
  font-size: 14px;
  color: #636363;
}
body .container .header .header__section .header__section--dropdown {
  width: 300px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  margin-top: -18px;
  top: 55px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e1e1e1;
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  transition: ease 0.5s;
}
body .container .header .header__section .header__section--dropdown p {
  color: #636363;
}
body .container .header .header__section .header__section--dropdown .header__section--dropdown--wrapper {
  cursor: pointer;
  transition: 0.2s;
}
body .container .header .header__section .header__section--dropdown .header__section--dropdown--wrapper button {
  background-color: #fff;
  border: none;
  color: #636363;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
}
body .container .header .header__section .header__section--dropdown .header__section--dropdown--wrapper i {
  color: #636363;
  cursor: pointer;
  transition: 0.2s;
}
body .container .header .header__section .header__section--dropdown .header__section--dropdown--wrapper:hover button {
  color: #000000;
}
body .container .header .header__section .header__section--dropdown .header__section--dropdown--wrapper:hover i {
  color: #000000;
  cursor: pointer;
  transition: 0.2s;
}
body .container .header .header__section .header__section--user:hover {
  opacity: 0.5;
}
body .container .header .header__section .active {
  margin-top: 0;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}
body .container .modalIcon {
  position: absolute;
  left: 60px;
  top: 60px;
  padding: 5px 5px 5px 0;
  background: #222;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: ease 1s;
}
body .container .open {
  position: absolute;
  left: 220px;
  top: 60px;
  z-index: 1000;
  padding: 5px 0px 5px 5px;
  background: #222;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  transform: rotate(180deg);
}
body .container .icon__rotate {
  transform: rotate(180deg);
}
body .container .nav--open {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 220px;
  height: 810px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: -240px;
  transition: all ease 1s;
}
body .container .nav--open .nav__logo {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 220px;
  height: 55px;
  background-color: #000000;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}
body .container .nav--open .nav__logo:hover {
  opacity: 0.7;
}
body .container .nav--open .nav__blocks {
  width: 220px;
  height: 40px;
  position: relative;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper {
  background-color: #222;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper .nav__blocks--icons {
  padding: 11px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper .nav__blocks--icons .nav__blocks--icons__text {
  width: 100%;
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: flex-start;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper .nav__blocks--icons i {
  color: #fff;
  font-size: 12px;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper .nav__blocks--icons:hover {
  opacity: 0.5;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper .nav__blocks--on__hover {
  width: 100%;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper .nav__blocks--on__hover li {
  width: 100%;
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper .nav__blocks--on__hover li:hover {
  opacity: 0.5;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons__wrapper .nav__blocks--on__hover {
  width: 100%;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons__wrapper .nav__blocks--on__hover li {
  width: 100%;
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  color: #878787;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons__wrapper .nav__blocks--on__hover li:hover {
  opacity: 0.5;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons {
  padding: 11px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 1px solid #242628;
  border-top: 1px solid #242628;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons .nav__blocks--icons__text {
  width: 100%;
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  color: #878787;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons i {
  color: #878787;
}
body .container .nav--open .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons:hover {
  opacity: 0.5;
}
body .container .nav--closed {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 60px;
  height: 810px;
  background-color: #171717;
  display: flex;
  flex-direction: column;
}
body .container .nav--closed .nav__logo {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  width: 60px;
  height: 55px;
  background-color: #de1b19;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
}
body .container .nav--closed .nav__logo:hover {
  opacity: 0.7;
}
body .container .nav--closed .nav__blocks {
  width: 60px;
  height: 40px;
  text-align: center;
  position: relative;
}
body .container .nav--closed .nav__blocks .nav__blocks--wrapper {
  background-color: #222;
}
body .container .nav--closed .nav__blocks .nav__blocks--wrapper .nav__blocks--icons {
  padding: 11px;
  cursor: pointer;
  transition: 0.2s;
}
body .container .nav--closed .nav__blocks .nav__blocks--wrapper .nav__blocks--icons:hover {
  opacity: 0.5;
}
body .container .nav--closed .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons {
  padding: 11px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 1px solid #242628;
  border-top: 1px solid #242628;
}
body .container .nav--closed .nav__blocks .nav__blocks--wrapper2 .nav__blocks--icons:hover {
  opacity: 0.5;
}
body .container .none {
  display: none;
}
body .container .hidden {
  margin-left: 0;
}
body .container .dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #ececec;
  padding-left: 60px;
  border: 1px solid #cccfd2;
}
body .container .dashboard .dashboard__text {
  font-family: "Metric";
  font-weight: normal;
  font-size: 14px;
  color: #6e6e6e;
  margin-left: 20px;
}
body .container .dashboard .dashboard__add {
  background-color: #d8d8d8;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}
body .container .dashboard .dashboard__add .dashboard__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .container .dashboard .dashboard__add .dashboard__wrapper .dashboard__wrapper--icon {
  color: #878686;
}
body .container .dashboard .dashboard__add .dashboard__wrapper .dashboard__wrapper--text {
  font-family: "Metric";
  font-weight: normal;
  text-transform: uppercase;
  color: #878686;
  font-size: 16px;
}
body .container .dashboard .dashboard__add:hover {
  opacity: 0.6;
}
body .container .features {
  height: 150px;
  width: 100%;
  background-color: #fff;
  padding-left: 60px;
  display: flex;
  font-family: "Metric";
  font-weight: 600;
  font-size: 50px;
}
body .container .features .features--wrapper {
  width: 25%;
  height: 150px;
  border-right: 1px solid #cccfd2;
  overflow: hidden;
}
body .container .features .features--wrapper .features--text1 {
  color: #00acac;
}
body .container .features .features--wrapper .features--text2 {
  color: #1f7bb6;
}
body .container .features .features--wrapper .features--text3 {
  color: #fbcf71;
}
body .container .features .features--wrapper .features--text4 {
  color: #00acac;
}
body .container .features .features--wrapper .features--content1 {
  background: url(../images/signups.png) right center no-repeat;
  height: 100%;
  margin-top: 25px;
  flex-direction: column;
  text-align: center;
}
body .container .features .features--wrapper .features--content2 {
  background: url(../images/profit.png) right center no-repeat;
  height: 100%;
  margin-top: 25px;
  flex-direction: column;
  text-align: center;
}
body .container .features .features--wrapper .features--content3 {
  background: url(../images/commissions.png) right center no-repeat;
  height: 100%;
  margin-top: 25px;
  flex-direction: column;
  text-align: center;
}
body .container .features .features--wrapper .features--content4 {
  background: url(../images/pending.png) right center no-repeat;
  height: 100%;
  margin-top: 25px;
  flex-direction: column;
  text-align: center;
}
body .container .features .features--wrapper .features--wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
body .container .features .features--wrapper .features--wrapper1 i {
  font-size: 18px;
  color: #00acac;
}
body .container .features .features--wrapper .features--wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
body .container .features .features--wrapper .features--wrapper2 i {
  font-size: 18px;
  color: #1f7bb6;
}
body .container .features .features--wrapper .features--wrapper3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
body .container .features .features--wrapper .features--wrapper3 i {
  font-size: 18px;
  color: #fbcf71;
}
body .container .features .features--wrapper .features--wrapper4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
body .container .features .features--wrapper .features--wrapper4 i {
  font-size: 18px;
  color: #00acac;
}
body .container .features .features--wrapper .features--txt {
  font-family: "Metric";
  font-weight: normal;
  font-size: 16px;
  color: #6e6e6e;
  text-transform: uppercase;
}
body .container .diagram {
  width: 100%;
  height: 300px;
  padding-left: 60px;
  background-color: #2a2a2a;
  display: flex;
}
body .container .diagram .diagram__stats {
  width: 400px;
  height: 300px;
  background-color: #2a2a2a;
  padding: 20px;
}
body .container .diagram .diagram__stats .diagram__stats--header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 20px 20px 20px;
}
body .container .diagram .diagram__stats .diagram__stats--header .diagram__stats--text {
  font-family: "Metric";
  font-weight: normal;
  font-size: 21px;
  color: #fff;
}
body .container .diagram .diagram__stats .diagram__stats--header .diagram__stats--span {
  display: flex;
  align-items: center;
  font-family: "Metric";
  font-weight: 300;
  font-size: 16px;
  color: #cacaca;
  cursor: pointer;
  transition: 0.2s;
  gap: 10px;
}
body .container .diagram .diagram__stats .diagram__stats--header .diagram__stats--span .diagram__stats--span__select {
  font-family: "Metric";
  font-weight: 300;
  font-size: 16px;
  color: #cacaca;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #2a2a2a;
  padding-right: 5px;
}
body .container .diagram .diagram__stats .diagram__stats--chart {
  width: 100%;
}
body .container .diagram .diagram__active {
  width: 210px;
  height: 300px;
  background-color: #222222;
  display: flex;
  flex-direction: column;
}
body .container .diagram .diagram__active .diagram__active--title {
  padding: 20px;
}
body .container .diagram .diagram__active .diagram__active--title h6 {
  font-family: "Metric";
  font-weight: normal;
  font-size: 21px;
  color: #fff;
}
body .container .diagram .diagram__active .diagram__active--doughnut {
  width: 135px;
  height: 135px;
  margin: 0 auto;
}
body .container .diagram .diagram__active .diagram__active--info {
  width: 135px;
  height: 80px;
  margin: 5px auto;
}
body .container .diagram .diagram__active .diagram__active--info .diagram__active--info__txt {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  position: relative;
  align-items: center;
}
body .container .diagram .diagram__active .diagram__active--info .diagram__active--info__txt p {
  font-family: "Metric";
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
body .container .diagram .diagram__active .diagram__active--info .diagram__active--info__txt img {
  position: absolute;
  top: 4px;
  left: -16px;
}
body .container .diagram .diagram__map {
  width: 310px;
  height: 300px;
  background-color: #2a2a2a;
}
body .container .diagram .diagram__map .diagram__map--title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px;
}
body .container .diagram .diagram__map .diagram__map--title .diagram__map--text {
  font-family: "Metric";
  font-weight: normal;
  font-size: 21px;
  color: #fff;
}
body .container .diagram .diagram__map .diagram__map--title .diagram__map--span {
  display: flex;
  align-items: center;
  font-family: "Metric";
  font-weight: 300;
  font-size: 16px;
  color: #cacaca;
  cursor: pointer;
  transition: 0.2s;
  gap: 10px;
}
body .container .diagram .diagram__map .diagram__map--title .diagram__map--span .diagram__map--span__select {
  font-family: "Metric";
  font-weight: 300;
  font-size: 16px;
  color: #cacaca;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #2a2a2a;
  padding-right: 5px;
}
body .container .diagram .diagram__map .diagram__map--info .diagram__map--info__span {
  display: flex;
  align-items: center;
  font-family: "Metric";
  font-weight: 300;
  font-size: 16px;
  color: #cacaca;
  cursor: pointer;
  transition: 0.2s;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 5px;
}
body .container .diagram .diagram__map .diagram__map--info .diagram__map--info__span .diagram__map--info__span--select {
  font-family: "Metric";
  font-weight: 300;
  font-size: 16px;
  color: #cacaca;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #2a2a2a;
  padding-right: 5px;
}
body .container .diagram .diagram__map .diagram__map--info .diagram__map--span__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #262626;
}
body .container .diagram .diagram__map .diagram__map--info .diagram__map--span__stats p {
  font-family: "Metric";
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  padding: 5px 20px;
}
body .container .info {
  width: 100%;
  height: 40px;
  padding-left: 60px;
  background-color: #353535;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #464748;
}
body .container .info .info__text {
  width: 306px;
  height: 40px;
  line-height: 40px;
  font-family: "Metric";
  font-weight: normal;
  font-size: 21px;
  color: #fff;
  padding: 0 20px;
  border-right: 1px solid #464748;
}
body .container .tables {
  width: 100%;
  height: 220px;
  padding-left: 60px;
  background-color: #fff;
  display: flex;
}
body .container .tables .table {
  width: 100%;
  height: 225px;
  border-collapse: collapse;
  text-align: center;
}
body .container .tables .table .table__title {
  font-family: "Metric";
  font-weight: 600;
  font-size: 14px;
  color: #636363;
  height: 40px;
  width: 306px;
  border-right: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  border-bottom: 2px solid #d4d4d4;
}
body .container .tables .table .table__title th {
  cursor: pointer;
  transition: 0.2s;
}
body .container .tables .table .table__title th:hover {
  color: #434343;
}
body .container .tables .table .table__content {
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
body .container .tables .table .table__content td {
  font-family: "Metric";
  font-weight: 500;
  font-size: 14px;
  color: #565656;
  cursor: pointer;
  transition: 0.2s;
}
body .container .tables .table .table__content td:hover {
  color: #434343;
}

/* BODY ACTIVE */
.bodyActive {
  margin-left: 0;
}

/* /BODY *//*# sourceMappingURL=style.css.map */